@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Outfit:wght@400;700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    overflow-y: hidden;
}
img{
    max-width: 100%;
    border-radius: 20px;
}

.card{
    width: 250px;
    height: auto;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 100px;
    border: 1px solid hsl(0, 15%, 86%);
}
.text-container{
    display: flex;
    flex-wrap: wrap;
}
.title{
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-bottom: 0;
}
.paragraph{
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}